.about-me
	.container.about-me-container
		.row.align-items-center
			.col-lg-5.portrait
				+photo("./img/portrait.jpg")
			.col-lg-1
			article.col-lg-6.description
				h2 Обо мне
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid ab in corrupti eos consequuntur magni, recusandae, soluta, error molestiae a rem molestias quia sed? Est provident laborum explicabo, error incidunt.
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam debitis architecto, fuga reprehenderit optio voluptatem sapiente inventore assumenda culpa possimus hic sit cumque aliquid magnam totam commodi, enim facere adipisci!
