.contacts-block
	.container.contacts-container
		.row.justify-content-center
			.col-lg-4.block.phone
				a(href="tel:37360495733") +373 60-495-733
			.col-lg-4.block.vk
				a(href="https://vk.com/miky_heisenberg_yopt", target="_blank") vk.com/miky_heisenberg_yopt
			.col-lg-4.block.location
				.text Moldova, Falesti
