.gallery
	.container.gallery-container
		.row.justify-content-center
			+photo-frame("./img/gallery/1.jpg")
			+photo-frame("./img/gallery/2.jpg")
			+photo-frame("./img/gallery/3.jpg")
			+photo-frame("./img/gallery/4.jpg")
			+photo-frame("./img/gallery/5.jpg")
			+photo-frame("./img/gallery/6.jpg")
			+photo-frame("./img/gallery/7.jpg")
			+photo-frame("./img/gallery/8.jpg")
