.introduction
	.container.intro-container
		.row.align-items-center
			.col-md-6
				h1 Mihaela Dreglea
					mark Художник
				p Если вы желаете качественно и красиво сделать портрет друга (подруги), либо любую вашу фантазию воплотить в реальность, то вы пришли по адресу.

				.row.buttons
					.col-xl-4.col-md-6
						.examples
							a#examples-link(href="#", onclick="$.scrollTo('.gallery', '1');") Примеры работ
					.col-xl-4.col-md-6
						.contacts
							a#contacts-link(href="#", onclick="$.scrollTo('.contacts-block', '1');") Контакты
